<mat-nav-list>
    <h3>Current trips:</h3>
    <a mat-list-item *ngFor="let trip of trips" routerLink="/trips/{{trip.id}}">
        <span>{{trip.name}}</span>
        <mat-divider></mat-divider>
    </a>
</mat-nav-list>
<mat-divider></mat-divider>
<br>

<mat-card class="creation-form-width">
    <mat-card-header>
        <mat-card-title>Trip</mat-card-title>
        <mat-card-subtitle>Create trip</mat-card-subtitle>
    </mat-card-header>
    <form>
        <mat-form-field class="full-width">
            <input matInput placeholder="Trip name" [(ngModel)]="selectedName" name="selName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Destination:</mat-label>
            <mat-select [(value)]="selectedDestination" name="sleDist">
                <mat-option *ngFor="let o of countries" [value]="o" >
                    {{o.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput [min]="tomorrow" [max]="maxDate" [matDatepicker]="startDate" placeholder="Start date" (dateChange)="setStartDate($event) ">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput [min]="tomorrow" [max]="maxDate" [matDatepicker]="endDate" placeholder="End date" (dateChange)="setEndDate($event)">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>

    </form>
    <button mat-raised-button color="primary"
            (click)="addTrip();">
        Create trip
    </button>
</mat-card>
